<ion-view>
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="left">
        <nav-back-button></nav-back-button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <pre>
1.总则
1.《航空意外互助保障计划》（以下简称“航意计划”）是由个人在区块链上发起，共同缔结、共同遵守的用以明确互助计划范围、规则、条件和会员之间关于互助的具体权利和义务的法律文件。
2.个人签署并上传《航空意外互助保障计划》之后，即可加入航意计划，成为航空意外互助保障计划的会员（以下简称“会员”），享有会员权利，承担会员义务。
3.会员加入航意计划时，已知悉航意计划是会员在计划规则的引领下，在会员间实现互帮互助、共担风险的契约性互助保障机制。
4.如无特别说明，航意计划中需要上传和提交的信息或材料为英文文本。
2.定义
1.个人，是指自然人。
2.会员，是指签署并加入航意计划、享有航意计划权利并承担航意计划义务的个人。
3.航意计划，是指由会员发起并制订的、承载航意计划基本要素、运行方式以及相关主体之间权利和义务等内容的法律文件，由会员共同缔结、共同遵守。
4.互助范围，是指由航意计划列明的约定互助事项的集合。
5.互助标准，是指发生互助范围列明的约定互助事项时，对会员进行互助的起始金额、最高金额，或其他事先设定的限额、标准或标的。
6.约定互助事项，是指航意计划约定的互助范围内的或航意计划所指向的事项或事件。
7.互助事件，是指当航意计划约定互助事项发生时，由会员按照航意计划的约定分摊互助金的事件。
8.互助备付金，是指依据航意计划的约定，由会员缴付的资金，包括初始缴付的和后期追加的资金。
9.互助金，是指根据航意计划的约定，会员因发生互助事件可获得的互助资金。
10.互助分摊金，是指当互助事件发生之后，由单个会员分摊的互助金。
11.互助权益，是指根据航意计划约定条件，在约定互助事项发生后，会员自航意计划的其他会员处获得的互助金、非现金性质的实物、服务及其他捐助。
3.航意计划的基本要素
1.会员获得互助资格的条件
1.在发生航意计划第3.2条的互助范围的约定互助事项时须是航意计划的会员，且；
2.自加入航意计划起持续参加航意计划下组织的各次互助。
2.互助范围和互助标准
互助范围	互助标准
有效航班发生空难导致会员死亡	2000万BTC
3.
1.有效航班，是指载有50人（含）以上的航班，且该航班的始发地和目的地都是有效城市；
2.有效城市，是指拥有10个（含）以上当地会员的城市，且该城市所在的国家为有效国家；
3.有效国家，是指有约定互助事项核查确认小组（以下简称“核查确认小组”）的国家，且该小组拥有100个（含）以上当地会员；
4.当地会员，是指根据会员上传至区块链的家庭地址，确定该会员所属的城市和国家。
4.互助备付金及其管理
1.初始互助备付金
会员加入航意计划须缴付互助备付金200BTC。
2.追加缴付互助备付金
自主追加，会员可按照任意额度自主追加缴付互助备付金。
提示追加，当发生互助事件需支付互助金时，互助备付金不足的会员须在系统提示下追加缴付互助备付金。
3.退还互助备付金
符合航意计划第8条的会员资格终止的情形的，会员的互助备付金的80%自动退还，剩余20%的互助备付金纳入互助金公共账户。
5.互助金分摊规则
1.互助事件的互助金分摊标准
当会员发生航意计划第3.2条的互助范围中列示的约定互助事项时，由系统根据航意计划第11.3.2.1条的互助实施确认时点的全体有效会员人数确定互助分摊金标准，即：
1.通过上述公式计算得出的互助事件的互助分摊金标准小于或等于50BTC的，会员应承担的互助分摊金按照实际计算得出的数字确定；
2.通过上述公式计算得出的互助事件的互助分摊金标准大于50BTC的，会员应承担的互助分摊金为50BTC。
2.互助事件的实际互助金
3.由系统在航意计划第11.3.2.2条的互助金扣款时点从有效会员的互助备付金中扣除会员应承担的互助分摊金，则：
4.会员的互助备付金少于该会员应承担的互助分摊金的，由系统按照该会员的互助备付金扣除互助金。
6.会员资格生效
1.生效条件
1.上传签署的《航空意外互助保障计划》，且；
2.上传手工输入的本人信息，包括：
1）姓名；
2）性别；
3）国籍；
4）接受互助金的账号，且；
按照航意计划第4.1条的要求缴付初始互助备付金。
2.生效日期
1.会员资格的生效日期
3.自会员满足全部生效条件之时起，会员资格生效，会员参与分摊互助金的义务生效。
1.会员的互助权益的生效日期
4.会员资格生效，会员的互助权益生效。
7.会员资格存续
1.会员持续履行分摊互助金的义务，则会员资格持续有效。
8.会员资格终止的情形
1.会员自愿退出航意计划的，其会员资格终止。
2.会员的互助备付金等于0的，其会员资格终止。
3.会员死亡的，其会员资格终止。
4.会员在加入航意计划时，或在互助事件核查确认过程中，提供虚假信息或材料（含虚假联系方式等），刻意隐瞒事实或未履行如实告知义务的，其会员资格立即终止，其已缴付的互助备付金和/或互助分摊金不予返还。
9.互助权益的生效
1.上传预订机票的证明文件，包括但不限于照片、扫描件、电子订单，且；
2.上传手工输入的航班信息，包括：
1）航班号；
2）始发地；
3）目的地；
4）预计起飞日期。
10.不予互助的情形
1.会员不符合航意计划第3.1条约定条件的。
2.会员资格已终止的。
3.会员上传的信息或材料不是英文文本的。
4.会员发起互助事件超过航意计划第10.1条约定的时间。
11.互助事件的管理
1.互助事件的发起
1.发起互助事件
发生航意计划第3.2条互助范围的约定互助事项的有效航班的始发地或目的地的当地会员可以自约定互助事项实际发生之日起30日内发起互助，发起互助的条件如下：
1）上传发起互助的会员所在国家的国家级新闻报道的电子文档、图片、照片等，且需含有乘员名单；
2）上传手工输入的约定互助事项的承运航空公司、航班号、机型、航班的始发地、航班的目的地、航班起飞日期、乘员数量、机组人员数量；
3）上传手工输入的乘员名单的信息，包括姓名、性别、国籍。
2.系统验证互助事件
由系统自动匹配发起互助的会员上传的姓名、性别、国籍、航班号、航班始发地、航班目的地、航班起飞日期，与全体会员上传的个人信息的一致性，要求如下：
信息的匹配项目	一致性要求
姓名、性别、国籍	完全一致
航班起飞日期	完全一致
航班号（或，航班始发地和航班目的地）	完全一致
2.若上述信息匹配后的结果显示有数据符合一致性要求，则进入到互助事件的核查确认阶段；若未完全一致，则系统自动通知发起互助的会员，会员可选择重新发起互助。
3.互助事件的核查确认
1.根据约定的多个国际性权威新闻网站作为数据源，验证航意计划第11.1.2条的一致性数据与发起互助的会员上传的内容完全一致，且所有网站全部验证通过；则进入到航意计划第11.3.2条的互助实施阶段；否则终止发起的互助。
2.互助实施
1.互助实施的等待
互助实施的等待期为72小时，会员可在等待期内对核查确认的结果提出异议，并发起核查确认的复核。
若未有会员在等待期内发起核查确认的复核，则进入到航意计划第11.3.2条的互助实施阶段。
2.互助实施
1.互助金扣款通知
进入互助实施阶段后，若会员的互助备付金少于航意计划第5.1条计算得出的互助事件的互助分摊金标准的，系统自动通知该会员。
在互助金扣款日，会员的互助备付金不足以支付互助分摊金的，系统自动扣除该会员的互助备付金全部金额，该会员资格同时终止。
2.互助金扣款
系统在进入互助实施阶段后的72小时后进行互助金的扣款，并将实际筹集到的互助金支付至航意计划第6.1.2条的会员接受互助金的账号中。
        </pre>
    </ion-content>
</ion-view>
