.product{
    .title{
        font-size: $font-size-medium;
    }

    .text{
        color:$font-gray-stable;
        white-space: normal;
        line-height: 26px;
    }

    ul{
        line-height: 22px;
        margin: 10px 0;
        list-style-type: disc;
    }

    .columns{
        padding: 0;
        text-align: center;

        img{
            display:inline-block;
            height:30px;
        }

        .column{
            padding: 20px 0;
        }

        .box{
            display:inline-block;
            text-align: center;
            padding-left: 10px;

            .title{
                font-size: $font-size-base;
                color:$font-gray-stable;
            }

            .text{
                font-size: $font-size-medium;
                color:black;
            }
        }
    }

    &.has-footer {
        bottom: 50px;
    }

    .list .item{
        border:none;
        margin:0;
    }

    .list .item.item-accordion {
        line-height: 38px;
        padding-top: 0;
        padding-bottom: 0;
        //transition: 0.09s all linear;
    }

    .list .item.item-accordion.ng-hide {
        line-height: 0px;
    }

    .list .item.item-accordion.ng-hide-add,
    .list .item.item-accordion.ng-hide-remove {
        display: block !important;
    }
}

.mbs-footer{
    display: block !important;
    height: 50px;

    .button{
        min-height: 40px;
        margin-top: 0;
        font-size: 14px;
        padding:0 12px;
    }
}

.item-complex .item-content{
    padding:16px;
}
