<ion-view hide-nav-bar="true">
    <ion-nav-title>航空意外互助计划</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="viewStatus()">查看</button>
    </ion-nav-buttons>
    <ion-content class="product has-footer">
        <img width="100%" ng-src="{{ 'images/banner.png' | staticSrc }}">
        <div class="background-white padding">
            <div class="border-bottom">
                <div class="title">{{language.tip7}}</div>
                <div class="padding-left-20">
                    <ul class="text">
                        <li>{{language.tip8}}</li>
                        <li>{{language.tip9}}</li>
                    </ul>
                </div>
            </div>
            <div class="row columns border-bottom">
                <div class="col-50 border-right column">
                    <div class="box">
                        <div class="text">{{totalBalance | weiToRMB:advicedPrice | currency:2}}</div>
                        <div class="title">{{language.fund}}</div>
                    </div>
                </div>
                <div class="col-50 column">
                    <div class="box">
                        <div class="text">{{totalPeople}}</div>
                        <div class="title">{{language.members}}</div>
                    </div>
                </div>
            </div>
            <!-- <div class="text-center font-large" style="margin: 20px 0px 10px;">
                会费 <span class="energized"> {{advicedPrice}} </span> 元
            </div> -->
        </div>
        <!-- <div class="background-white margin-top-20" style="padding:0 10px;">
            <ion-list>
               <div class="border-bottom">
                 <ion-item ui-sref="app.process">
                   <span class="font-medium">互助流程</span>
                   <i class="icon pull-right ion-ios-arrow-right"></i>
                 </ion-item>
               </div>
             </ion-list>
             <ion-list>
                <div>
                  <ion-item ng-click="views.problem=!views.problem">
                    <span class="font-medium">常见问题</span>
                    <i class="icon pull-right ion-ios-arrow-right"></i>
                  </ion-item>
                </div>
             </ion-list>
        </div> -->
    </ion-content>
    <ion-footer-bar class="mbs-footer">
        <!-- <div class="text-color-stable">同意 <span class="positive" ui-sref="app.provision"> 《 保障条款 》 </span></div> -->
        <span style="font-size: 20px;line-height: 40px;padding-left: 18px;">{{language.sr}} {{advicedPrice}}</span>
        <button class="button button-positive pull-right" ui-sref="app.productDetail" ng-if="!showRenewals">
            {{language.join}}
        </button>
        <button class="button button-positive pull-right" ng-click="renewals()" ng-if="showRenewals">
            {{language.renewals}}({{language.balance}}{{balance | weiToETH | number:2}} ETH)
        </button>
    </ion-footer-bar>
</ion-view>
