<ion-modal-view>
    <ion-header-bar>
      <button class="button button-dark button-clear" ng-click="refresh(password)" ng-show="me.address&&me.encrypted_wallet_key&&showWalletInfo">{{language.refresh}}</button>
      <button class="button button-dark button-clear pull-right" ng-click="close()">{{language.close}}</button>
    </ion-header-bar>
    <div class="tabs-top tabs-color-positive ng-hide" ng-show="!showWallet&&(!me.address||!me.encrypted_wallet_key)">
        <div class="tabs">
            <a class="tab-item" ng-click="selectTab('createWallet')" ng-class="{'active': modalData.curTab === 'createWallet'}">
                {{ language.createWallet }}
            </a>
            <a class="tab-item" ng-click="selectTab('importWallet')" ng-class="{'active': modalData.curTab === 'importWallet'}">
                {{ language.importWallet }}
            </a>                        
        </div>
    </div>
    <ion-content class="padding" ng-class="{'has-tabs-top': !showWallet&&(!me.address||!me.encrypted_wallet_key)}">
        <div class="list" ng-show="me.address&&me.encrypted_wallet_key&&!showWalletInfo">
            <div class="padding-top padding-bottom">{{language.walletAddress}}：
                <textarea class="form-control" type="text" readonly="readonly">{{me.address}}</textarea>
            </div>
            <label class="item item-input">
                <input type="password" placeholder="{{language.walletPasswordPlaceholder}}" ng-model="filePassword">
            </label>
            <button class="button button-positive button-block" ng-click="decryptWallet(filePassword)">{{language.decrypt}}</button>
        </div>
        <div class="list" ng-show="me.address&&me.encrypted_wallet_key&&showWalletInfo">
            <div class="padding text-center">{{language.nowPrice}}：1ETH {{language.tip3}} {{advicedPrice}}RMB</div>
            <div class="padding-top padding-bottom">{{language.walletAddress}}：
                <textarea class="form-control" type="text" readonly="readonly">{{wallet.address}}</textarea>
            </div>
            <div class="padding-top padding-bottom">{{language.walletBalance}}：{{wallet.balance | weiToETH | number:2}} ETH ({{wallet.balance | weiToRMB:advicedPrice | currency:'￥':2}} RMB) </div>
            <div class="padding-top padding-bottom">{{language.balance}}：{{balance | weiToETH | number:2}} ETH ({{balance | weiToRMB:advicedPrice | currency:'￥':2}} RMB) </div>
            <div style="height:30px;">{{language.rechargeRecord}}</div>
            <ul class="list" ng-repeat="order in orders.docs">
                <li class="item">
                    {{language.address}}：<div class="table-list">{{order.address}}</div>
                </li>
                <li class="item">
                    {{language.orderNo}}：<div class="table-list">{{order.out_trade_no}}</div>
                </li>
                <li class="item">
                    {{language.createDate}}：<div class="table-list">{{order.createdAt}}</div>
                </li>
                <li class="item">
                    {{language.amount}}：<div class="table-list">{{order.coin}}ETH ({{order.price}}RMB)</div>
                </li>
                <li class="item">
                    {{language.orderStatus}}：<div class="table-list">{{order.status | orderStatus}}</div>
                </li>
            </ul>
            <div class="button-bar">
              <a class="button" ng-click="preOrder()">{{language.previous}}</a>
              <a class="button" ng-click="nextOrder()">{{language.next}}</a>
            </div>
            <div style="height:30px;">{{language.recharge}}</div>
            <label class="item item-input">
                <input type="number" placeholder="{{language.rechargePlaceholder}}" ng-model="eth">
            </label>
            <button class="button button-positive button-block" ng-click="recharge(eth)">{{language.recharge}}</button>
        </div>
        <div class="list" ng-show="!showWallet&&(!me.address||!me.encrypted_wallet_key)">
            <div class="ng-hide" ng-show="modalData.curTab === 'createWallet'">
                <div class="padding-top padding-bottom">{{language.tip4}}</div>
                <label class="item item-input">
                    <input type="password" placeholder="{{language.passwordPlaceholder}}" ng-model="password">
                </label>
                <button class="button button-positive button-block" ng-click="creatWallet(password)">{{language.createWallet}}</button>
            </div>
            <div class="ng-hide" ng-show="modalData.curTab === 'importWallet'">
                <div class="padding-top padding-bottom">{{language.bindWallet}}</div>
                <label class="item item-input">
                    <input type="text" placeholder="{{language.address}}" ng-model="address">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{language.privatekey}}" ng-model="key">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="{{language.passwordPlaceholder}}" ng-model="twypassword">
                </label>
                <button class="button button-positive button-block" ng-click="bindExistWallet(address,key,twypassword)">{{language.bindWallet}}</button>
            </div>
        </div>
        <div class="list" ng-show="showWallet&&(!me.address||!me.encrypted_wallet_key)">
            <h2 class="title">{{language.tip5}}</h2>
            <div class="assertive" style="margin-bottom:10px">{{language.tip6}}</div>
            <label>
                {{language.walletAddress}}
            </label>
            <textarea class="form-control" type="text" readonly="readonly">{{wallet.getChecksumAddressString()}}</textarea>
            <label>
                {{language.privatekey}}（{{language.unencrypted}}）
            </label>
            <textarea class="form-control bigger-on-mobile" type="text" readonly="readonly">{{wallet.getPrivateKeyString()}}</textarea>
            <button class="button button-positive button-block" ng-click="bindWallet()">{{language.bindWallet}}</button>
        </div>
    </ion-content>
</ion-modal-view>
