<ion-view hide-nav-bar="true">
    <ion-nav-title>理赔</ion-nav-title>
    <ion-content class="background-gray padding">
        <ion-refresher pulling-text="{{language.pullDownToRefresh}}" on-refresh="getClaims()">
        </ion-refresher>
        <ul class="list" ng-repeat="claim in claims" style="margin-bottom:10px;">
            <li class="item">
                {{language.name}}：<div class="table-list">{{claim.claimerName}}</div>
            </li>
            <li class="item">
                {{language.nationality}}：<div class="table-list">{{claim.claimerCountry}}</div>
            </li>
            <li class="item">
                {{language.id}}：<div class="table-list">{{claim.claimerId}}</div>
            </li>
            <li class="item">
                {{language.flightNumber}}：<div class="table-list">{{claim.flightNumber}}</div>
            </li>
            <li class="item">
                {{language.departureTime}}：<div class="table-list">{{claim.departureTime*1000 | date:'yyyy-MM-dd HH:mm'}}</div>
            </li>
            <li class="item">
                {{language.no}}：<div class="table-list">{{claim.oracleItId}}</div>
            </li>
            <li class="item">
                {{language.applicationStatus}}：<div class="table-list">{{claim.status | claimStatus}}</div>
            </li>
        </ul>
    </ion-content>
</ion-view>
