<ion-view>
    <ion-nav-title>理赔</ion-nav-title>
    <ion-content class="background-gray padding">
        <ion-refresher pulling-text="下拉刷新" on-refresh="getClaims()">
        </ion-refresher>
        <ul class="list" ng-repeat="claim in claims" style="margin-bottom:10px;">
            <li class="item">
                航班号：<div class="table-list">{{claim.flightNumber}}</div>
            </li>
            <li class="item">
                起飞时间：<div class="table-list">{{claim.departureTime*1000 | date:'yyyy-MM-dd HH:mm'}}</div>
            </li>
            <li class="item">
                编号：<div class="table-list">{{claim.oracleItId}}</div>
            </li>
            <li class="item">
                申请状态：<div class="table-list">{{claim.status | claimStatus}}</div>
            </li>
        </ul>
    </ion-content>
</ion-view>
