<ion-view>
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="left">
        <nav-back-button></nav-back-button>
    </ion-nav-buttons>
    <ion-content class="productDetail background-gray has-footer">
        <div class="item item-avatar margin-bottom-20" style="border-top:none;border-left:none;border-right:none;">
           <img ng-src="{{ 'images/banner.png' | staticSrc }}">
           <div class="title">{{language.productDetailTitle}}</div>
           <div class="text">{{language.productDetailText}}</div>
        </div>
        <div class="background-white" style="padding:0 10px;">
            <label class="item item-input">
                <span class="input-label">{{language.name}}</span>
                <input type="text" class="text-right" placeholder="{{language.defaultPlaceholder}}" ng-model="data.name">
            </label>
            <label class="item item-input">
                <span class="input-label">{{language.nationality}}</span>
                <input type="text" class="text-right" placeholder="{{language.defaultPlaceholder}}" ng-model="data.country">
            </label>
            <label class="item item-input">
                <span class="input-label">{{language.id}}</span>
                <input type="text" class="text-right" placeholder="{{language.defaultPlaceholder}}" ng-model="data.id">
            </label>
        </div>
        <div class="text-color-stable mbs-checkbox">
            <div class="item item-checkbox">
                <div class="checkbox checkbox-input-hidden checkbox-circle" ng-click="data.provision=!data.provision">
                    <input type="checkbox" ng-model="data.provision" class="ng-pristine"><i class="checkbox-icon"></i>
                </div>
                <div class="item-content" style="position: relative;z-index: 999;">
                    <span>{{language.tip1}}
                        <span class="positive" ng-click="provision()">《 {{language.provision}} 》</span>{{language.tip2}}
                    </span>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="font-medium product-detail-footer">
        <div class="padding">{{language.sr}} <span class="energized"> {{advicedPrice}} </span> 元</div>
        <button class="button button-positive pull-right font-medium" ng-disabled="!data.provision" ng-click="join()">
            {{language.join}}
        </button>
    </ion-footer-bar>
</ion-view>
