<ion-view>
    <ion-nav-title>互助流程</ion-nav-title>
    <ion-nav-buttons side="left">
        <nav-back-button></nav-back-button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="title font-medium" style="line-height: 35px;">
            第一步：在线报案
        </div>
        <div class="text text-color-light padding-bottom">
            上传发起互助的会员所在国家的国家级新闻报道的电子文档、图片、照片等，且需含有成员名单。
        </div>
        <div class="title font-medium" style="line-height: 35px;">
            第二步：审核材料
        </div>
        <div class="text text-color-light padding-bottom">
            上传手工输入的约定互助事项的承运航空公司、航班号、机型、航班的始发地、航班的目的地、航班起飞日期、成员数量、机组人员数量。
        </div>
        <div class="title font-medium" style="line-height: 35px;">
            第三步：互助完成
        </div>
        <div class="text text-color-light padding-bottom">
            系统在进入互助实施阶段后的72小时后进行互助金的扣款。
        </div>
    </ion-content>
</ion-view>
