<ion-view>
    <ion-content class="no-has-header has-tabs" scroll="false">
        <ion-nav-view class="tabs-view" name="tabContent"></ion-nav-view>
    </ion-content>
    <ion-tabs class="tabs-icon-top tabs-light">
        <ion-tab title="{{language.menuHome}}" icon-on="icon-image ion-ios-navigate" icon-off="icon-image ion-ios-navigate-outline" href="/app/tabs/product"></ion-tab>
        <ion-tab title="{{language.menuFlight}}" icon-on="icon-image ion-ios-alarm" icon-off="icon-image ion-ios-alarm-outline" href="/app/tabs/addFlight"></ion-tab>
        <ion-tab title="{{language.menuProgram}}" icon-on="icon-image ion-ios-eye" icon-off="icon-image ion-ios-eye-outline" href="/app/tabs/claims"></ion-tab>
        <ion-tab title="{{language.menuMe}}" icon-on="icon-image ion-ios-person" icon-off="icon-image ion-ios-person-outline" href="/app/tabs/myHome"></ion-tab>
    </ion-tabs>
</ion-view>
