<ion-view>
    <ion-content class="no-has-header has-tabs" scroll="false">
        <ion-nav-view class="tabs-view" name="tabContent"></ion-nav-view>
    </ion-content>
    <ion-tabs class="tabs-icon-top tabs-light">
        <ion-tab title="互助计划" icon="icon-image ion-person-stalker" href="/app/tabs/product"></ion-tab>
        <ion-tab title="登记航班" icon="icon-image ion-ios-paper-outline" href="/app/tabs/addFlight"></ion-tab>
        <ion-tab title="理赔公示" icon="icon-image ion-cash" href="/app/tabs/claims"></ion-tab>
        <ion-tab title="我的主页" icon="icon-image ion-person" href="/app/tabs/me"></ion-tab>
    </ion-tabs>
</ion-view>
