<ion-view hide-nav-bar="true">
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="left">
        <nav-back-button></nav-back-button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <pre>
General
1. Aircraft accident protection plan (hereinafter referred to as the "Aviation accident plan") is initiated by individuals in the regional chain, jointly concluded, to comply with the common program to clarify the scope, rules, conditions and mutual assistance between members Specific rights and obligations of the legal documents.
2. Individuals who sign and upload the Aircraft Accident Mutual Aid Scheme can join the Airline Plan as a member of the Aircraft Accident Security Scheme (hereinafter referred to as the "Member") and enjoy the rights and obligations of Members.
3. Members to join the flight plan, has been informed that the plan is intended to plan members under the guidance of the rules in the implementation of mutual assistance between members to share the risk of contractual mutual security mechanism.
4. Unless otherwise specified, the information and materials required to be uploaded and submitted in the Project Plan are in the Chinese language.
2. Definitions
An individual is a natural person.
2. A Member means an individual who signs and joins the Plan and is entitled to the Aerospace Program Rights and undertakes the Airplane Program obligation.
3. A flight plan is a legal document initiated and developed by the members, which contains the basic elements of the plan, the mode of operation and the rights and obligations between the relevant subjects, which shall be jointly concluded and abided by by the members.
4. The scope of mutual assistance refers to the set of agreed mutual assistance matters specified in the plan.
5. Mutual assistance standards refer to the starting amount, the maximum amount, or other pre-set quota, standard or target of mutual assistance to the members in the case of mutual assistance as stipulated in the scope of mutual assistance.
6. Mutual assistance is defined as a matter or event within the scope of mutual assistance as agreed upon in the plan or as indicated in the plan.
7. Mutual assistance is the case where the member of the aircraft contributes to the mutual aid in accordance with the flight plan, when the mutual assistance is agreed upon.
8. Mutual Aid Provident Fund means the funds paid by Members in accordance with the Plan, including the initial payment and the additional funds at the end of the period.
9. Mutual assistance means the amount of mutual funds available to members for mutual assistance in accordance with the plan.
10. Mutual contribution means the amount of mutual assistance assessed by a single member after the occurrence of a mutual assistance incident.
11. Mutual benefit refers to mutual aid, non-cash kind, service and other donations received by the member from the other members of the plan after the stipulation of mutual assistance in accordance with the conditions stipulated in the plan.
3. The basic elements of the flight plan
1. Conditions for membership to obtain mutual aid status
1. In the event of mutual assistance in the area of ​​mutual assistance under Article 3.2 of the Aerospace Plan, the Member shall be a member of the Aeronautical Program, and
2. Mutual assistance from organizations participating in the Aeronautical Plan under the Program.
2. Scope of mutual assistance and mutual assistance standards
Mutual Aid Standard
Effective flight crash resulted in death of 20 million members BTC
3.
1. Effective flight means a flight with 50 or more flights, and the origin and destination of the flight are valid cities;
2. Effective city refers to a city with 10 or more local members, and the city in which the city is located is a valid country;
3. Effective countries refer to the countries that have confirmed verification groups for mutual assistance matters (hereinafter referred to as the "verification confirmation group"), and the group has 100 or more local members;
4. A local member, means the city and country to which the member belongs, based on the home address that the member has uploaded to the block chain.
4. Mutual aid provision and management
1. Initial mutual aid provision
Members are required to pay a mutual aid allowance of 200BTC.
Additional contribution for mutual aid
In addition, the member can pay the mutual aid allowance according to any amount.
If there is a mutual aid payment, the member who is under-funded by the mutual aid fund will be required to make additional payment of the mutual funds under the system prompt.
Retirement mutual aid
80% of the mutual aid fund of the member is automatically refunded, and the remaining 20% ​​of the mutual aid fund is included in the mutual aid public account in the case of the termination of the membership in Article 8 of the Plan.
5. Rules for the allocation of mutual funds
Mutual aid sharing standards for mutual aid
When the members have agreed on mutual assistance listed in the mutual assistance scope of Article 3.2 of the Air Navigation Plan, the mutual aid contribution standard shall be determined by the system according to the number of effective members in the complementary implementation confirmation point of the plan 11.3.2.1 :
1. Mutual aid contribution calculated by the above formula is less than or equal to 50BTC, the mutual aid contribution of the member shall be determined according to the actual calculation.
2. If the mutual aid contribution standard calculated by the above formula is greater than 50BTC, the member shall bear the mutual aid contribution of 50BTC.
2. Mutual aid to the actual mutual aid
3. The Mutual Contribution Allowance of the Member shall be deducted from the Mutual Contributions of the Effective Member at the point of the Mutual Fund Disbursement of the Air Navigation Program in accordance with Article 11.3.2.2:
4. If the member's mutual aid fund is less than the mutual contribution to be borne by the member, the system shall deduct the mutual assistance fund according to the mutual aid fund of the member.
6. Membership becomes effective
Conditions of entry into force
Upload the signed "Aviation accident protection plan", and;
Upload your personally entered information, including:
1) Name;
2) gender;
3) nationality;
4) to accept the mutual funds account, and
The Initial Mutual Aid Provident Fund is paid in accordance with the requirements of Section 4.1 of the Aeronautical Plan.
2. Effective date
1. Membership Effective Date
3. Membership shall become effective as of the time when the Member has satisfied all the conditions for entry into force, and the obligations of the Member participating in the assessment of mutual assistance shall take effect.
1. Effective Date of Mutual Benefit of Members
4. Membership effective, members of the mutual rights and interests into effect.
7. Membership Existence
1. Membership shall continue to be valid if the Member continues to perform the obligation to apportion the Mutual Benefit.
8. Termination of Membership
1. If a member voluntarily withdraws from the program, his or her membership will be terminated.
2. Membership Mutual Benefit is equal to 0, and its membership is terminated.
3. If a member dies, his / her membership shall be terminated.
4. Membership will be terminated immediately if they join in the flight plan or provide false information or materials (including fictitious contact information) during the process of verification or confirmation of the interconnection incident, deliberately conceal the facts or fail to fulfill the obligation of truthful disclosure. Mutual aid contributions and / or mutual aid contributions paid are not refundable.
9. The entry into force of mutual rights and interests
Uploading documents certifying the booking of air tickets, including but not limited to photos, scans, electronic orders, and
Upload manually entered flight information, including:
1) Flight number;
2) origin;
3) Destination;
4) Estimated departure date.
10. Cases of non-cooperation
1. Members do not meet the flight plan 3.1 of the conditions agreed.
2. Membership is terminated.
3. The information or materials uploaded by members are not in English.
4. The member initiates the mutual aid event to surpass the time agreed in the navigation plan 10.1.
11. Management of mutual aid incidents
Mutual aid events initiated
Initiate mutual aid events
Article 3.2 Scope of Mutual Aid Plan The local members of the origin or destination of an effective flight of mutual assistance may initiate mutual assistance within 30 days from the date of the actual occurrence of the agreed mutual assistance, and the conditions for initiating mutual assistance are as follows:
1) Upload electronic files, pictures, photos, etc. of the national news reports of the countries where the mutual aid members are launched, and include the crew list;
2) Upload the carrier, airline number, model, origin of the flight, flight departure date, number of passengers, crew number of the agreed mutual assistance input by hand;
3) Upload manually entered crew list information, including name, gender, nationality.
2. The system authenticates the mutual event
The name, gender, nationality, flight number, flight origin, flight departure date, and the personal information uploaded by all members are automatically matched by the system. The requirements are as follows:
Information Matched Project Consistency Requirements
Name, gender, nationality, exactly the same
Flight departure date exactly the same
Flight number (or, flight origin and flight destination) exactly the same
2. If the above information matches the results show that the data conform to the consistency requirements, then enter the verification phase of mutual aid events; if not entirely consistent, the system automatically notify the initiating mutual aid members, members may choose to re-initiate mutual assistance.
3. Mutual aid to confirm the verification
According to the agreement of a number of international authoritative news website as a data source to verify the consistency of the data plan 11.1.2 and the sponsoring members to upload the contents of exactly the same, and all the sites all through the verification; then into the flight plan Mutual assistance in the implementation of Article 11.3.2; otherwise terminate the initiated mutual aid.
Mutual aid implementation
Waiting for the implementation of mutual assistance
The waiting period for mutual implementation is 72 hours, and members can dispute the results of verification verification within the waiting period and initiate a review of verification confirmation.
If there is no member in the waiting period to initiate a verification of the verification confirmation, then into the plan 11.3.2 mutual aid implementation phase.
Mutual aid implementation
Mutual Benefit Charges Notice
If the mutual aid filing fee is less than the mutual aid contribution standard calculated by Article 5.1 of the Plan, the system automatically informs the member.
On the date of the mutual fund deduction, if the member's mutual aid reserve is insufficient to pay the mutual contribution, the system will automatically deduct the amount of the mutual aid reserve of the member, and the membership will be terminated at the same time.
2. Mutual aid deductions
The system commits a credit to the Mutual Funds 72 hours after entering the Mutual Aid Implementation Phase and pays the actual interbank funds to the account of the Mutual Benefit Member as per Section 6.1.2 of the Plan.
        </pre>
    </ion-content>
</ion-view>
